<h3>以下の内容で、ツイートしてよろしいでしょうか？</h3>
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  
  <p>ツイート:<%= @blog.content %></p>
  <%= form.submit  "OK" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>