<h2>タイムライン</h2>
<p><%= notice %></p>
<table>
  <tr>
    
    <th>ツイート</th>
  </tr>
<% @blogs.each do |blog| %>
  <tr>
   
    <td><%= blog.content %></td>
    <td><%= link_to '詳細', blog_path(blog.id) %></td>
    <td><%= link_to "編集", edit_blog_path(blog.id) %></td>
    <td><%= link_to '削除', blog_path(blog.id), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'ツイートする', new_blog_path %>
